* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: 'Rubik', sans-serif;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(hero.jpg);
  height: 100vh;
  background-size: cover;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 52px;
}

.header-container {
  width: 700px;
  padding: 48px;
  display: flex;
  flex-direction: column;

  gap: 32px;
  margin: 0 auto;
}

h2 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
  text-transform: capitalize;
}

p {
  font-size: 25px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn {
  box-sizing: border-box;
  background-color: #e8590c;
  color: white;
  text-decoration: none;
  width: 240px;
  padding: 16px 32px;
  border-radius: 9px;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.btn:hover {
  background-color: #d9480f;
}
